@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", system-ui;
}

/* ----Ensemble---- */
.header .navbar{
    position: relative;
    height: 15vh;
}

.navbar .navbar-brand{
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar .navbar-nav{
    gap: 10px;
}

.navbar-nav .nav-link{
    font-size: 15px;
    font-weight: 500;
    color: rgb(78, 78, 89);
    position: relative;
}

.nav-link:hover{
    color: rgb(247, 59, 17);
}

.navbar .btn{
    border-radius: 5px;
    background-color: rgb(247, 59, 17);
    color: white;
    font-size: 15px;
    padding: 8px 15px;
}

.navbar-nav .btn:hover{
    border: 1px solid rgb(206, 18, 18) !important;
}

/* Carousel */

.sect{
    height: 75vh;
}

.carousel-item{
    position: relative;
}

.carousel-item::before{
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.425);
}

.sect .carousel-caption{
    max-width: 750px;
    margin: 1.5rem auto;
    z-index: 2;
}

.carousel-caption .btn{
    color: white;
    background-color: rgb(247, 59, 17);
}

.carousel-caption h1{
    font-size: 3rem;
    font-weight: 700;
}

.carousel-caption p{
    font-size: 18px;
    font-weight: 600;
}

/* titre */

.titre h6{
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(168, 168, 168);
    font-weight: 400;
    font-size: 15px;
}

.titre h3{
    font-weight: 700;
}

.titre span{
    width: 100px;
    height: 2px;
    background-color: rgb(247, 59, 17);
}


/* About */

.about{
    margin-bottom: 6rem;
}

.about p{
    font-weight: 500;
}

.about-1 ul{
    list-style: none;
    padding-left: 0;
}

.about-1 ul li{
    margin: 15px 0;
    font-size: 16px;
    font-weight: 500;
}

.about-1 ul li i{
    color: rgb(247, 59, 17);
    font-size: 16px;
}

.about-2 .btn{
    background-color: rgb(247, 59, 17);
    color: whitesmoke;
    padding: 10px 15px;
}


.content{
    position: relative;
    min-height: 20vh;
    background-color: white;
}

.content h2{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.8;
}

.content-icone{
    position: absolute;
    top: -20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
}

.content i{
    font-size: 1.5rem;
    color: rgb(247, 59, 17);
}


.about-3 h5{
    font-weight: 700;
}
.about-3 p{
    font-size: 14px;
}

.about-3 ul{
    list-style: none;
    padding-left: 0;
}

.about-3 ul li{
    margin: 15px 0;
    font-size: 14px;
    opacity: 0.8;
}

.about-3 ul li i{
    color: rgb(247, 59, 17);
    margin-right: 10px;
    font-size: 14px;
}


/* Services */

.service-content{
    height: 55vh;
}

.service-icone i{
    font-size: 1.5rem;
    color: whitesmoke;
    z-index: 2;
}

.service-icone{
    position: relative;
    width: 75px;
    height: 75px;
    background-color: rgb(247, 59, 17);
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* z-index: 100; */
    justify-content: center;
}

.service-icone::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 59, 17);
    opacity: 0.3;
    border-radius: 5px;
    top: -10px;
    left: -10px;    
}

.service-content h4{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}

.service-content p{
    font-size: 14px;
    font-weight: 600;
    opacity: 0.7;
}


/* Testimonials */
.testi{
    background-color: whitesmoke;
}

.temoins .temoin{
    width: 100%;
    background-color: white;
}

.profil-temoin{
    margin-left: 15px;
}

.profil-temoin img{
    width: 5rem;
    height: 5rem;
    top: -0.2rem;
    left: -5rem;
    object-fit: cover;
    border: 1px solid wheat;
}

.profil-temoin h4{
    font-size: 1.1rem;
    font-weight: 600;
}

.profil-temoin h5{
    font-size: 14px;
    color: rgb(63, 63, 63, 0.500);
    font-weight: 600;
    letter-spacing: 1px;
}

.temoin .etoile{
    margin-left: 20px;
}

.temoin p{
    font-size: 16px;

}

.temoin p i{
    font-size: 20px;
    margin: 0 10px;
    color: rgb(247, 59, 17);
    opacity: 0.5;
}

.point{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.point i{
    padding: 5px;
    border-radius: 50px;
    /* background-color: rgba(91, 91, 91, 0.500); */
    border: 1px solid rgb(247, 59, 17);
}

.point .active{
    background-color: rgb(247, 59, 17);
}

/* attachement */

.attachement{
    width: 100%;
    height: 50vh;
}

.attachement .call{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: url(images/2.jpg);
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.call::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.215);
}

.call h3{
    letter-spacing: 2px;
    font-weight: 700;
    z-index: 2;
}

.call p{
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    max-width: 900px;
    z-index: 2;
}

.call .btn{
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 5px;
    z-index: 2;
}


/* Portfolio */

.portfolio p{
    color: rgba(0, 0, 0, 0.404);
}

.header-menu .nav-link{
    position: relative;
    color: rgba(11, 11, 11, 0.927);
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
}

.nav-link:hover{
    color: rgb(247, 59, 17);
}

.portfolio .card{
    border: none ;
    border-radius: 0 !important;
}

.portfolio .card img{
    border-radius: 0 !important;
    height: 45vh;
}

.card-title{
    font-size: 18px;
}

.portfolio .card-text{
    font-size: 15px;
}

.header-menu .nav{
    gap: 15px;
}


/* Team */

.Team{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.Team img{
    height: 40vh;
    object-fit: cover;
}


/* Pricing */

.bloc-entete h4{
    font-size: 1.2rem;
    font-weight: 500;
}

.bloc-entete .price{
    display: flex;
    align-items: center;
    position: relative;
    font-size: 40px;
    color: rgb(247, 59, 17);
    /* font-weight: 700; */
    letter-spacing: 2px;
}

.price .dollar{
    font-size: 25px;
    position: relative;
    top: -5px;
}

.price .price-samall{
    color: rgba(33, 33, 33, 0.669);
    font-size: 20px;
    bottom: -10px;
    position: relative;
    font-weight: 200;
}


.blocs ul{
    list-style: none;
    padding-left: 0;
}

.blocs ul li{
    margin: 18px 0;
    opacity: 0.8;
    font-size: 15px;
}

.blocs ul li s{
    color: black;
    opacity: 0.5;
}

.blocs ul li i{
    color: rgb(0, 135, 68);
    margin-right: 13px;
}

.blocs .btn{
    display: block;
    width: 60%;
    /* border-radius: 50px; */
    font-size: 16px;
    padding: 12px 0;
    color: rgb(247, 59, 17);
    border: 1px solid rgb(247, 59, 17);
    /* background-color: rgb(247, 59, 17); */
    font-weight: 600;
}

.trait{
    border-top: 3px solid rgb(247, 59, 17) !important;
}

.trait .btn{
    background-color: rgb(247, 59, 17);
    color: whitesmoke;
}

/* Frequently */

.frequently{
    margin-top: 5rem;
}

.ligne{
    border-bottom: 1px solid;
}

.ligne h5{
    font-size: 1.1rem;
    font-weight: 600;
}

.ligne p{
    font-size: 15px;
    font-weight: 500;
}

.ligne i{
    margin-top: 2px;
    font-size: 18px;
    color: rgb(247, 59, 17);
}

.ligne:nth-child(6){
    border-bottom: 0;
}

/* Contact */

.other{
    background-color: whitesmoke;
}

.coordonnes p{
    font-size: 15px;
    text-align: center;
}

.icone{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted rgb(247, 59, 17);
}

.coordonnes{
    background-color: white;
    height: 33vh;
}

.icone i{
    font-size: 25px;
    color: rgb(247, 59, 17);
}

form{
    background-color: white;
}

form .btn{
    background-color: rgb(247, 59, 17);
    color: whitesmoke;
    border-radius: 50px;
}


/* Footer */

footer{
    background-color: black;
}

.footer-bloc .btn{
    border-radius: 0;
}

.footer-bloc h5{
    font-size: 16px;
    font-weight: bold;
}

.footer-bloc input{
    background-color: black;
}

.subscribe{
    font-size: 14px;
}

.footer-bloc ul li{
    font-size: 14px;
    font-weight: 600;
    opacity: 0.6;
    margin: 10px 0;
}

.footer-bloc-1 h5{
    font-size: 2.4rem;
    font-weight: bold;
}

.footer-bloc-1 p{
    font-size: 14px !important;
}

.bloc-footer{
    display: flex;
    gap: 15px;
    color: white;
}

.footer-bloc .footer-sociaux{
    display: flex;
    gap: 10px;
}

.footer-sociaux i{
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

footer hr{
    background-color: whitesmoke;
    height: 2px;
    margin: 1rem 0;
}

.last h5{
    color: white;
    font-size: 16px;
}

.last h6{
    font-size: 12px;
    color: white;
}

.last h6 span{
    color: rgb(247, 59, 17);
}